<div class="card">
  <div class="card-header">
    <div class="card-header_text">
      <p class="card-header_text__title">Subject</p>
      <span class="card-header_text__sub-title">Teacher</span>
    </div>
    <div class="card-header_indication">
      <span class="card-header_indication__content card-header_indication__test" title="Available Tests">1</span>
      <span class="card-header_indication__content card-header_indication__subject" title="Available Lectures">99</span>
    </div>
  </div>
  <div class="card-footer">
    <a class="card-footer_button">Go to subject</a>
  </div>
</div>
